	 {{#each items}}
		<div class='row' id='listtablerow{{@index}}'>
		<h3 class='col-xs-12'>{{requestNo}}</h3>
		<div class='col-xs-12 col-md-12'>
			<span class='listLabel'>Disposition: </span>{{disposition}}
		</div>
		<div class='col-xs-12 col-md-6'>
			<span class='listLabel'>Date Completed: </span>{{formatDate dateCompleted}}
		</div>
				
		<div class='col-xs-12 col-md-6'>
			<p class='disptype'><span class='listLabel'>Date Communicated: </span>{{formatDate dateCommunicated}}</p>
		</div>
		<div class='col-xs-12 col-md-12'>
			<p><div class='listLabel'>Details: </div>{{summary}}</p>
		</div>
		{{#if response}}
		<div class='col-xs-12 col-md-12'>
			<p class='disptype'><span class='listLabel'>Response: </span><a target='_blank' href='{{responseLink response}}'>{{response}} ({{ responseSize responseBytes}} MB)</a></p>
		</div>
		{{/if}}
	
		</div>
	{{/each}}