<!--
IMPORTANT:
Any resources from this project should be referenced using SRC_PATH preprocessor var.
See examples below in the boilerplate code
-->

<!-- rewindJS-app:head -->
  <!--@exec startBuildTagWithCacheBuster('styles/main.css')-->
    <!-- rewindJS:css -->
    <!-- endinject -->
    <!-- place your application stylesheet references here: -->
    <link rel="stylesheet" type="text/css" href="<!-- @echo SRC_PATH -->/styles/main.css">
  <!-- endbuild -->
  <!--@exec startBuildTagWithCacheBuster('styles/rewindJS_print.css', 'media="print"')-->
    <!-- rewindJS_print:css -->
    <!-- endinject -->
    <!-- place any application print-only stylesheet references here -->
  <!-- endbuild -->
<!-- rewindJS-app:head end-->

<!-- rewindJS-app:body -->
<div id="my_app_name_container"></div>
<!-- rewindJS-app:body end-->

<!-- rewindJS-app:footer -->
  <!--@exec startBuildTagWithCacheBuster('scripts/main.js')-->
    <!-- rewindJS:js -->
    <!-- endinject -->
    <!-- place your application script references here: -->
    <script type="text/javascript" src="<!-- @echo SRC_PATH -->/scripts/main.js"></script>
  <!-- endbuild -->
  <!--@if ENV!='prod'-->
  <script type="text/javascript">
    console.log('my_app_name running on <!--@echo ENV--> environment');
    console.log('my_app_name qa release: <!--@echo QA_RELEASE-->');
    console.log('my_app_name build: <!--@echo BUILD_ID-->');
  </script>
  <!--@endif-->
<!-- rewindJS-app:footer end-->
